{% extends 'index.twig' %}

{% block body %}
    <h2>Clientes</h2>

    <div style="float: left">
        <a href="/load-customers" onclick="alert('Se cargarán los datos en paralelo, recargue la página en unos segundos para ver los resultados.')">Cargar datos API JSON</a>
    </div>

    <div style="float: right">
        <form autocomplete="off">
            <div class="input-group">
                <input type="text" name="search" class="form-control" id="input_search" placeholder="Buscar"
                       value="{{ search }}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table full-width">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Cargo</th>
                <th scope="col">Email</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Documento</th>
                <th scope="col">Teléfono</th>
                <th scope="col">País</th>
                <th scope="col">Estado</th>
                <th scope="col">Ciudad</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <th scope="row">{{ customer.id }}</th>
                    <td>{{ customer.job_title }}</td>
                    <td>{{ customer.email_address }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.document }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.country }}</td>
                    <td>{{ customer.state }}</td>
                    <td>{{ customer.city }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10"><i>No hay registros</i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}