{% extends 'index.twig' %}

{% block body %}
    <h2>Login</h2>

    <form id="form_login" action="/login" method="post" novalidate>
        <div class="form-group">
            <label for="input_email_address">Email</label>
            <input type="email" name="email_address" class="form-control" id="input_email_address" placeholder="Email"
                   required>
            <div id="email_address_error" class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="input_password">Password</label>
            <input type="password" name="password" class="form-control" id="input_password" placeholder="Password"
                   required min="6">
            <div id="password_error" class="invalid-feedback"></div>
        </div>
        <button id="form_login_submit" type="submit" class="btn btn-primary">Login</button>
    </form>

    <script type="text/javascript">
        let form_login = document.getElementById('form_login');
        let form_login_submit = document.getElementById('form_login_submit');
        let error_containers = document.getElementsByClassName('invalid-feedback');
        let form_controls = document.querySelectorAll('.form-control');
        let can_submit = false;

        form_login.addEventListener('submit', function (evt) {
            if (!can_submit && !form_login_submit.disabled) {
                evt.preventDefault();
                evt.stopPropagation();

                form_login_submit.disabled = true;

                Array.from(error_containers).forEach((container) => {
                    container.style.display = 'none';
                });
                Array.from(form_controls).forEach((control) => {
                    control.classList.remove('is-invalid');
                });

                $.ajax({
                    url: form_login.action + '?validating=1',
                    data: new FormData(form_login),
                    processData: false,
                    contentType: false,
                    type: 'post',
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        can_submit = true;
                        form_login.submit();
                    },
                    error: function (data) {
                        for (let prop in data.responseJSON) {
                            let error = document.getElementById(prop + '_error');
                            let input = document.getElementById('input_' + prop);
                            for (let type in data.responseJSON[prop])
                                error.innerHTML = data.responseJSON[prop][type];

                            input.classList.add('is-invalid');
                            error.style.display = 'block';
                        }

                        form_login_submit.disabled = false;
                    }
                });
                return false;
            }
            return true;
        });
    </script>
{% endblock %}
