{% extends 'index.twig' %}

{% block body %}
    <h2>Registro</h2>

    <form id="form_register" action="/register" method="post" autocomplete="off" novalidate>
        <div class="form-group">
            <label for="input_name">Nombre</label>
            <input type="text" name="name" class="form-control" id="input_name" placeholder="Nombre" required min="3">
            <div id="name_error" class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="input_document">Documento</label>
            <input type="number" name="document" class="form-control" id="input_document" placeholder="Documento"
                   required>
            <div id="document_error" class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="input_email_address">Email</label>
            <input type="email" name="email_address" class="form-control" id="input_email_address" placeholder="Email"
                   required>
            <div id="email_address_error" class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="input_country">País</label>
            <select name="country" class="custom-select" id="input_country" placeholder="País">
                <option selected disabled>Seleccione</option>
            </select>
            <div id="country_error" class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="input_password">Password</label>
            <input type="password" name="password" class="form-control" id="input_password" placeholder="Password"
                   required min="6">
            <div id="password_error" class="invalid-feedback"></div>
        </div>
        <button id="form_register_submit" type="submit" class="btn btn-primary">Registrarme</button>
    </form>

    <script type="text/javascript">
        let select_countries = document.getElementById('input_country');
        let form_register = document.getElementById('form_register');
        let form_register_submit = document.getElementById('form_register_submit');
        let error_containers = document.getElementsByClassName('invalid-feedback');
        let form_controls = document.querySelectorAll('.form-control, .custom-select');
        let can_submit = false;

        form_register.addEventListener('submit', function (evt) {
            if (!can_submit && !form_register_submit.disabled) {
                evt.preventDefault();
                evt.stopPropagation();

                form_register_submit.disabled = true;

                Array.from(error_containers).forEach((container) => {
                    container.style.display = 'none';
                });
                Array.from(form_controls).forEach((control) => {
                    control.classList.remove('is-invalid');
                });

                $.ajax({
                    url: form_register.action + '?validating=1',
                    data: new FormData(form_register),
                    processData: false,
                    contentType: false,
                    type: 'post',
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        can_submit = true;
                        alert('Usuario creado correctamente!');
                        form_register.submit();
                    },
                    error: function (data) {
                        for (let prop in data.responseJSON) {
                            let error = document.getElementById(prop + '_error');
                            let input = document.getElementById('input_' + prop);
                            for (let type in data.responseJSON[prop])
                                error.innerHTML = data.responseJSON[prop][type];

                            input.classList.add('is-invalid');
                            error.style.display = 'block';
                        }

                        form_register_submit.disabled = false;
                    }
                });
                return false;
            }
            return true;
        });

        $(function () {
            $.getJSON('/countries', function (countries) {
                Array.from(countries).forEach((country) => {
                    let node = document.createElement('option');
                    //node.value = country.code;
                    node.value = country.name;
                    node.text = country.name;

                    select_countries.appendChild(node);
                });
            });
        });
    </script>
{% endblock %}
