{% extends 'index.twig' %}

{% block body %}
    <h2>Usuarios</h2>

    <div style="float: right">
        <form autocomplete="off">
            <div class="input-group">
                <input type="text" name="search" class="form-control" id="input_search" placeholder="Buscar"
                       value="{{ search }}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table full-width">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Documento</th>
                <th scope="col">Correo</th>
                <th scope="col">País</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.document }}</td>
                    <td>{{ user.email_address }}</td>
                    <td>{{ user.country }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5"><i>No hay registros</i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
